USE [W_GnBD]
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'TA3MEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'ta3mem', 'TA3MEM_CODMEM__', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TA3PSW_A7DE899B429A4BEB', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'TA3PSW_A7DE899B429A4BEB','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'ta3';
end
GO
if (1 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TA3S_UA_318BC14D33FE4C3A', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'TA3S_UA_318BC14D33FE4C3A', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'TA3S_UA_318BC14D33FE4C3A','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'ta3';
end
GO

if (2 > isnull((select versindx from TA3cfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'ta3alerta_alerta01'))
	DROP INDEX ta3alerta_alerta01 ON ta3alerta
CREATE INDEX ta3alerta_alerta01 ON ta3alerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit01'))
	DROP INDEX ta3postit_postit01 ON ta3postit
CREATE INDEX ta3postit_postit01 ON ta3postit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit02'))
	DROP INDEX ta3postit_postit02 ON ta3postit
CREATE INDEX ta3postit_postit02 ON ta3postit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit03'))
	DROP INDEX ta3postit_postit03 ON ta3postit
CREATE INDEX ta3postit_postit03 ON ta3postit (postit)

if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit04'))
	DROP INDEX ta3postit_postit04 ON ta3postit
CREATE INDEX ta3postit_postit04 ON ta3postit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit05'))
	DROP INDEX ta3postit_postit05 ON ta3postit
CREATE INDEX ta3postit_postit05 ON ta3postit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit06'))
	DROP INDEX ta3postit_postit06 ON ta3postit
CREATE INDEX ta3postit_postit06 ON ta3postit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'ta3postit_postit07'))
	DROP INDEX ta3postit_postit07 ON ta3postit
CREATE INDEX ta3postit_postit07 ON ta3postit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'ta3altent_altent01'))
	DROP INDEX ta3altent_altent01 ON ta3altent
CREATE INDEX ta3altent_altent01 ON ta3altent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'ta3delega_delega01'))
	DROP INDEX ta3delega_delega01 ON ta3delega
CREATE INDEX ta3delega_delega01 ON ta3delega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'ta3delega_delega02'))
	DROP INDEX ta3delega_delega02 ON ta3delega
CREATE INDEX ta3delega_delega02 ON ta3delega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'ta3lstusr_codpsw'))
	DROP INDEX ta3lstusr_codpsw ON ta3lstusr
CREATE INDEX ta3lstusr_codpsw ON ta3lstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'ta3lstcol_codlstusr'))
	DROP INDEX ta3lstcol_codlstusr ON ta3lstcol
CREATE INDEX ta3lstcol_codlstusr ON ta3lstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'ta3lstren_codlstusr'))
	DROP INDEX ta3lstren_codlstusr ON ta3lstren
CREATE INDEX ta3lstren_codlstusr ON ta3lstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'ta3usrwid_codlstusr'))
	DROP INDEX ta3usrwid_codlstusr ON ta3usrwid
CREATE INDEX ta3usrwid_codlstusr ON ta3usrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'ta3tblcfg_codpsw_uuid_name'))
	DROP INDEX ta3tblcfg_codpsw_uuid_name ON ta3tblcfg
CREATE INDEX ta3tblcfg_codpsw_uuid_name ON ta3tblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'ta3tblcfg_codpsw_uuid'))
	DROP INDEX ta3tblcfg_codpsw_uuid ON ta3tblcfg
CREATE INDEX ta3tblcfg_codpsw_uuid ON ta3tblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logta3all_logta3all01'))
	DROP INDEX logta3all_logta3all01 ON logta3all
CREATE CLUSTERED INDEX [logta3all_logta3all01] ON [dbo].[logTA3all]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE TA3cfg set versindx = 2
end
GO