USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[TA3CHASSIS_CODE] WITH NOCHECK ADD CONSTRAINT [FK_TA3CHASSIS_CODE_COD_MODELS_TA3MODELS_CODMODELS] FOREIGN KEY([COD_MODELS]) REFERENCES [dbo].[TA3MODELS] ([CODMODELS])
ALTER TABLE [dbo].[TA3CHASSIS_CODE] NOCHECK CONSTRAINT [FK_TA3CHASSIS_CODE_COD_MODELS_TA3MODELS_CODMODELS]

ALTER TABLE [dbo].[TA3MODELS] WITH NOCHECK ADD CONSTRAINT [FK_TA3MODELS_COD_MAKE_TA3MAKE_CODMAKE] FOREIGN KEY([COD_MAKE]) REFERENCES [dbo].[TA3MAKE] ([CODMAKE])
ALTER TABLE [dbo].[TA3MODELS] NOCHECK CONSTRAINT [FK_TA3MODELS_COD_MAKE_TA3MAKE_CODMAKE]

ALTER TABLE [dbo].[TA3UPGRADE] WITH NOCHECK ADD CONSTRAINT [FK_TA3UPGRADE_COD_CHASSIS_TA3CHASSIS_CODE_CODCHASSIS_CODE] FOREIGN KEY([COD_CHASSIS]) REFERENCES [dbo].[TA3CHASSIS_CODE] ([CODCHASSIS_CODE])
ALTER TABLE [dbo].[TA3UPGRADE] NOCHECK CONSTRAINT [FK_TA3UPGRADE_COD_CHASSIS_TA3CHASSIS_CODE_CODCHASSIS_CODE]

GO
