-- Last values dependent on dates


-- Arithmetic (Today)
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO


USE [W_GnBD]
UPDATE TA3cfg SET checkdat = GETDATE()
GO

USE [W_GnBD]

GO