USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1) where id_objecto = 'UserLogin'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1) where id_objecto = 'AsyncProcessAttachments'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3MEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3MEM', coalesce(cast((select max(CODMEM) from TA3MEM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODMEM) from TA3MEM) as bigint) + 1, 1) where id_objecto = 'TA3MEM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3CFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3CFG', coalesce(cast((select max(CODCFG) from TA3CFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODCFG) from TA3CFG) as bigint) + 1, 1) where id_objecto = 'TA3CFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3USRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3USRSET', coalesce(cast((select max(CODUSRSET) from TA3USRSET) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRSET) from TA3USRSET) as bigint) + 1, 1) where id_objecto = 'TA3USRSET'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3USRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3USRCFG', coalesce(cast((select max(CODUSRCFG) from TA3USRCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRCFG) from TA3USRCFG) as bigint) + 1, 1) where id_objecto = 'TA3USRCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3WKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3WKFACT', coalesce(cast((select max(CODWKFACT) from TA3WKFACT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFACT) from TA3WKFACT) as bigint) + 1, 1) where id_objecto = 'TA3WKFACT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3WKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3WKFCON', coalesce(cast((select max(CODWKFCON) from TA3WKFCON) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFCON) from TA3WKFCON) as bigint) + 1, 1) where id_objecto = 'TA3WKFCON'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3WKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3WKFLIG', coalesce(cast((select max(CODWKFLIG) from TA3WKFLIG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLIG) from TA3WKFLIG) as bigint) + 1, 1) where id_objecto = 'TA3WKFLIG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3WKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3WKFLOW', coalesce(cast((select max(CODWKFLOW) from TA3WKFLOW) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLOW) from TA3WKFLOW) as bigint) + 1, 1) where id_objecto = 'TA3WKFLOW'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3NOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3NOTIFI', coalesce(cast((select max(CODNOTIFI) from TA3NOTIFI) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODNOTIFI) from TA3NOTIFI) as bigint) + 1, 1) where id_objecto = 'TA3NOTIFI'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3SCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3SCRCRD', coalesce(cast((select max(CODSCRCRD) from TA3SCRCRD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODSCRCRD) from TA3SCRCRD) as bigint) + 1, 1) where id_objecto = 'TA3SCRCRD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3POSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3POSTIT', coalesce(cast((select max(CODPOSTIT) from TA3POSTIT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPOSTIT) from TA3POSTIT) as bigint) + 1, 1) where id_objecto = 'TA3POSTIT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3PRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3PRMFRM', coalesce(cast((select max(CODPRMFRM) from TA3PRMFRM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRMFRM) from TA3PRMFRM) as bigint) + 1, 1) where id_objecto = 'TA3PRMFRM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3ALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3ALERTA', coalesce(cast((select max(CODALERTA) from TA3ALERTA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALERTA) from TA3ALERTA) as bigint) + 1, 1) where id_objecto = 'TA3ALERTA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3ALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3ALTENT', coalesce(cast((select max(CODALTENT) from TA3ALTENT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALTENT) from TA3ALTENT) as bigint) + 1, 1) where id_objecto = 'TA3ALTENT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3TALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3TALERT', coalesce(cast((select max(CODTALERT) from TA3TALERT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTALERT) from TA3TALERT) as bigint) + 1, 1) where id_objecto = 'TA3TALERT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3DELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3DELEGA', coalesce(cast((select max(CODDELEGA) from TA3DELEGA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODDELEGA) from TA3DELEGA) as bigint) + 1, 1) where id_objecto = 'TA3DELEGA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3LSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3LSTUSR', coalesce(cast((select max(CODLSTUSR) from TA3LSTUSR) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTUSR) from TA3LSTUSR) as bigint) + 1, 1) where id_objecto = 'TA3LSTUSR'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3LSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3LSTCOL', coalesce(cast((select max(CODLSTCOL) from TA3LSTCOL) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTCOL) from TA3LSTCOL) as bigint) + 1, 1) where id_objecto = 'TA3LSTCOL'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3LSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3LSTREN', coalesce(cast((select max(CODLSTREN) from TA3LSTREN) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTREN) from TA3LSTREN) as bigint) + 1, 1) where id_objecto = 'TA3LSTREN'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3USRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3USRWID', coalesce(cast((select max(CODUSRWID) from TA3USRWID) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRWID) from TA3USRWID) as bigint) + 1, 1) where id_objecto = 'TA3USRWID'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3TBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3TBLCFG', coalesce(cast((select max(CODTBLCFG) from TA3TBLCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTBLCFG) from TA3TBLCFG) as bigint) + 1, 1) where id_objecto = 'TA3TBLCFG'

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1) where id_objecto = 'HASHCD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1) where id_objecto = 'DOCUMS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3WORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3WORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from TA3WORKFLOWPROCESS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRCESS) from TA3WORKFLOWPROCESS) as bigint) + 1, 1) where id_objecto = 'TA3WORKFLOWPROCESS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TA3WORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TA3WORKFLOWTASK', coalesce(cast((select max(CODTASK) from TA3WORKFLOWTASK) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTASK) from TA3WORKFLOWTASK) as bigint) + 1, 1) where id_objecto = 'TA3WORKFLOWTASK'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1) where id_objecto = 'ReportList'
GO
 