USE [W_GnBD]
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODMEM' UNION ALL
SELECT 'LOGIN' UNION ALL
SELECT 'ROTINA' UNION ALL
SELECT 'ALTURA' UNION ALL
SELECT 'OBS' UNION ALL
SELECT 'HOSTID' UNION ALL
SELECT 'CLIENTID' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'TA3MEM'

exec DropColumnsTmp @CmpsTmp, 'TA3MEM';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODPSW' UNION ALL
SELECT 'NOME' UNION ALL
SELECT 'PASSWORD' UNION ALL
SELECT 'CERTSN' UNION ALL
SELECT 'EMAIL' UNION ALL
SELECT 'PSWTYPE' UNION ALL
SELECT 'SALT' UNION ALL
SELECT 'DATAPSW' UNION ALL
SELECT 'USERID' UNION ALL
SELECT 'PSW2FAVL' UNION ALL
SELECT 'PSW2FATP' UNION ALL
SELECT 'DATEXP' UNION ALL
SELECT 'ATTEMPTS' UNION ALL
SELECT 'PHONE' UNION ALL
SELECT 'STATUS' UNION ALL
SELECT 'ASSOCIA' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'OPERMUDA' UNION ALL
SELECT 'DATAMUDA' UNION ALL
SELECT 'PSWTYPE' UNION ALL
SELECT 'SALT' UNION ALL
SELECT 'DATAPSW' UNION ALL
SELECT 'USERID' UNION ALL
SELECT 'PSW2FAVL' UNION ALL
SELECT 'PSW2FATP' UNION ALL
SELECT 'EMAIL' UNION ALL
SELECT 'DATEXP' UNION ALL
SELECT 'ATTEMPTS' UNION ALL
SELECT 'PHONE' UNION ALL
SELECT 'STATUS' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'USERLOGIN'

exec DropColumnsTmp @CmpsTmp, 'USERLOGIN';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODASCPR' UNION ALL
SELECT 'TYPE' UNION ALL
SELECT 'DATEREQU' UNION ALL
SELECT 'INITPRC' UNION ALL
SELECT 'ENDPRC' UNION ALL
SELECT 'DURATION' UNION ALL
SELECT 'STATUS' UNION ALL
SELECT 'RSLTMSG' UNION ALL
SELECT 'FINISHED' UNION ALL
SELECT 'LASTUPDT' UNION ALL
SELECT 'RESULT' UNION ALL
SELECT 'INFO' UNION ALL
SELECT 'PERCENTA' UNION ALL
SELECT 'MODOPROC' UNION ALL
SELECT 'EXTERNAL' UNION ALL
SELECT 'ID' UNION ALL
SELECT 'CODENTIT' UNION ALL
SELECT 'MOTIVO' UNION ALL
SELECT 'CODPSW' UNION ALL
SELECT 'OPERSHUT' UNION ALL
SELECT 'RTSTATUS' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'OPERMUDA' UNION ALL
SELECT 'DATAMUDA' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'ASYNCPROCESS'

exec DropColumnsTmp @CmpsTmp, 'ASYNCPROCESS';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODARGPR' UNION ALL
SELECT 'CODS_APR' UNION ALL
SELECT 'ID' UNION ALL
SELECT 'VALOR' UNION ALL
SELECT 'DOCUMENTFK' UNION ALL
SELECT 'DOCUMENT' UNION ALL
SELECT 'TIPO' UNION ALL
SELECT 'DESIGNAC' UNION ALL
SELECT 'HIDDEN' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'OPERMUDA' UNION ALL
SELECT 'DATAMUDA' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'ASYNCPROCESSARGUMENT'

exec DropColumnsTmp @CmpsTmp, 'ASYNCPROCESSARGUMENT';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODSIGNA' UNION ALL
SELECT 'NAME' UNION ALL
SELECT 'IMAGE' UNION ALL
SELECT 'TEXTASS' UNION ALL
SELECT 'USERNAME' UNION ALL
SELECT 'PASSWORD' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'OPERMUDA' UNION ALL
SELECT 'DATAMUDA' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'NOTIFICATIONEMAILSIGNATURE'

exec DropColumnsTmp @CmpsTmp, 'NOTIFICATIONEMAILSIGNATURE';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODMESGS' UNION ALL
SELECT 'CODSIGNA' UNION ALL
SELECT 'CODPMAIL' UNION ALL
SELECT 'FROM' UNION ALL
SELECT 'CODTPNOT' UNION ALL
SELECT 'CODDESTN' UNION ALL
SELECT 'TO' UNION ALL
SELECT 'DESTNMAN' UNION ALL
SELECT 'TOMANUAL' UNION ALL
SELECT 'CC' UNION ALL
SELECT 'BCC' UNION ALL
SELECT 'IDNOTIF' UNION ALL
SELECT 'NOTIFICA' UNION ALL
SELECT 'EMAIL' UNION ALL
SELECT 'ASSUNTO' UNION ALL
SELECT 'AGREGADO' UNION ALL
SELECT 'ANEXO' UNION ALL
SELECT 'HTML' UNION ALL
SELECT 'ATIVO' UNION ALL
SELECT 'DESIGNAC' UNION ALL
SELECT 'MENSAGEM' UNION ALL
SELECT 'GRAVABD' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'OPERMUDA' UNION ALL
SELECT 'DATAMUDA' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'NOTIFICATIONMESSAGE'

exec DropColumnsTmp @CmpsTmp, 'NOTIFICATIONMESSAGE';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODPRANX' UNION ALL
SELECT 'CODS_APR' UNION ALL
SELECT 'DOCUMENTFK' UNION ALL
SELECT 'DOCUMENT' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'ASYNCPROCESSATTACHMENTS'

exec DropColumnsTmp @CmpsTmp, 'ASYNCPROCESSATTACHMENTS';
END
GO
set nocount on

BEGIN
declare @NomeColunaRemover varchar (100)
declare @CmpsTmp as DropColumnType
INSERT INTO @CmpsTmp (name)
SELECT 'CODUA' UNION ALL
SELECT 'CODPSW' UNION ALL
SELECT 'SISTEMA' UNION ALL
SELECT 'MODULO' UNION ALL
SELECT 'NAODUPLI' UNION ALL
SELECT 'ROLE' UNION ALL
SELECT 'NIVEL' UNION ALL
SELECT 'OPERCRIA' UNION ALL
SELECT 'DATACRIA' UNION ALL
SELECT 'OPERMUDA' UNION ALL
SELECT 'DATAMUDA' UNION ALL
SELECT 'ZZSTATE' UNION ALL
SELECT NOMECAMPO from TA3TABDINAMIC where NOMETABELA = 'USERAUTHORIZATION'

exec DropColumnsTmp @CmpsTmp, 'USERAUTHORIZATION';
END
GO
