USE [W_GnBD]
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'USERLOGIN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [USERLOGIN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESSARGUMENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESSARGUMENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'NOTIFICATIONEMAILSIGNATURE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [NOTIFICATIONEMAILSIGNATURE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'NOTIFICATIONMESSAGE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [NOTIFICATIONMESSAGE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESSATTACHMENTS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESSATTACHMENTS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [TA3cfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'USERAUTHORIZATION') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [USERAUTHORIZATION] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3MEM') = 0)
	ALTER TABLE [TA3MEM] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3CFG') = 0)
	ALTER TABLE [TA3CFG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3USRSET') = 0)
	ALTER TABLE [TA3USRSET] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3USRCFG') = 0)
	ALTER TABLE [TA3USRCFG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3WKFACT') = 0)
	ALTER TABLE [TA3WKFACT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3WKFCON') = 0)
	ALTER TABLE [TA3WKFCON] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3WKFLIG') = 0)
	ALTER TABLE [TA3WKFLIG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3WKFLOW') = 0)
	ALTER TABLE [TA3WKFLOW] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3NOTIFI') = 0)
	ALTER TABLE [TA3NOTIFI] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3SCRCRD') = 0)
	ALTER TABLE [TA3SCRCRD] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3POSTIT') = 0)
	ALTER TABLE [TA3POSTIT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3PRMFRM') = 0)
	ALTER TABLE [TA3PRMFRM] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3ALERTA') = 0)
	ALTER TABLE [TA3ALERTA] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3ALTENT') = 0)
	ALTER TABLE [TA3ALTENT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3TALERT') = 0)
	ALTER TABLE [TA3TALERT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3DELEGA') = 0)
	ALTER TABLE [TA3DELEGA] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3LSTUSR') = 0)
	ALTER TABLE [TA3LSTUSR] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3LSTCOL') = 0)
	ALTER TABLE [TA3LSTCOL] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3LSTREN') = 0)
	ALTER TABLE [TA3LSTREN] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'TA3USRWID') = 0)
	ALTER TABLE [TA3USRWID] REBUILD
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'DOCUMS') = 0)
	ALTER TABLE [DOCUMS] REBUILD
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'hashcd') = 0)
	ALTER TABLE [hashcd] REBUILD
GO