IF((SELECT COUNT(1) FROM TA3cfg) = 0)
	INSERT INTO TA3cfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2503, 0, NULL, 0, 0)
ELSE
  UPDATE TA3cfg set versao = 2503, upgrindx = 0;
GO
